<html>

<head>

  <link rel="stylesheet" href="css/style.css" />
  <style>

  </style>
</head>

<body>

  <div>{{>header}}</div>

  <div class="home">
    <p class="page-title" style="margin-top: 80px;">{{welcTitle}}</p>
    <p class="home-info">{{info}}</p>
    <div class="home-btns">
      <button class="btn2"><a href="/games">Free Games</a> </button>
      <button class="btn1"><a href="/games">download Now</a> </button>
    </div>
  </div>

  <div>{{>footer}}</div>

</body>

</html>