<html>

<head>

    <link rel="stylesheet" href="css/style.css" />

</head>

<body>
    <footer>
        <div class="container">
            <div class="">
                <div class="logo">
                    logo
                </div>
                <div class="social-links">
                    <p>Join Us</p>
                    <ul>
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>

                    </ul>
                </div>
            </div>
            <div class="footer-nav">

                <p>Navigation</p>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/team">team</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/contact">contact</a></li>
                    <li><a href="/games">games</a></li>
                </ul>

            </div>
            <div class="footer-contact">
                <p>Contact us</p>
                <ul>
                    <li><a href="#">+2{{mobile}}</a></li>
                    <li><a href="#">+{{phone}}</a></li>
                    <li><a href="#">{{email}}</a></li>
                    <li><a href="#">{{address}}</a></li>
                </ul>
            </div>
        </div>
        <h5 class="copyrights">
            Copyright ©2023 All rights reserved | Made by Mahmoud Elsebaey
        </h5>
    </footer>
</body>

</html>

</html>